* {
  margin: 0 auto;
  padding: 0;
}
a {
  text-decoration: none;
  color: #fbfbfb;
}
body {
  font-size: 14px;
  font-weight: Normal;
  font-family: Gotham, Arial, Helvetica, sans-serif;
}
header {
  padding: 50px;
  background-color: slategrey;
  min-height: 10px;
  -webkit-box-shadow: 0px 1px 22px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 1px 22px -4px rgba(0,0,0,0.75);
  box-shadow: 0px 1px 22px -4px rgba(0,0,0,0.75);
}
nav {
  font-size: 22px;
  color: #fbfbfb;
}
header ul li {
  display: inline;
  margin: 0px 10px;
}
nav a:hover {
  color: #0892D0;
}
#link-one:hover {
  background-color: #333;
}
#link-one:active {
  font-size:28px;
}
